<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Maestro</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/logo maestro.png" rel="icon">
    <link href="assets/img/logo maestro.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    
    <!-- Template M File -->
    <!-- =======================================================
    * Template Name: Sistem Informasi Meteorologi
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <!--<h1 class="logo me-auto"><a href="/">MAESTRO</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo me-auto"><img src="assets/img/logo maestro.png" alt="" class="img-fluid"></a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Beranda</a></li>
          <li><a class="nav-link scrollto" href="#about">Tentang Maestro</a></li>
          <li><a class="nav-link scrollto" href="#kepointeori">Tentang Gelombang Gunung</a></li>
          <li><a class="nav-link scrollto" href="/quiz">Kuis</a></li>
          <li><a class="nav-link scrollto" href="#sim">Simulasi</a></li>
          <li><a class="nav-link scrollto" href="#team">Tim</a></li>
          <li><a class="nav-link scrollto" href="#contact">Kontak</a></li>
          <li><a class="getstarted scrollto" href="#about">Mulai</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Selamat Datang di <h1 style="color: #f9ecc9;">Maestro</h1></h1>
          <h2>(Mesoscale Awareness and Education System Toolkit Resource Online)</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Mulai</a>
            <a href="https://youtu.be/yozcYm5o4-8?si=FNoOOEO3QPi5ACvS" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Tonton Video</span></a>
          </div>
        </div>
        <!--<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/cover1.png" class="img-fluid animated" alt="">
        </div>-->
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Tentang MAESTRO</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6">
            <p>Perkuliahan Meteorologi Skala Meso bertujuan untuk:</p>
            <ul>
              <li><i class="ri-check-double-line"></i> Memahami dinamika atmosfer dalam skala meso.</li>
              <li><i class="ri-check-double-line"></i> Memahami implikasi dinamika atmosfer skala meso terhadap fenomena cuaca yang dapat diamati dan disimulasikan dengan model cuaca numerik.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p> Menurut Ligda (1951), fenomena meteorologi yang terjadi pada skala 20 km - 1000 km merupakan fenomena meteorologi skala meso. Dalam website ini kami akan menjelaskan mengenai gelombang gunung beserta simulasinya. Selain itu, kalian juga dapat menguji pemahaman kalian melalui Mini Quiz yang kami sediakan. </ul>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
            <div class="content">
              <h3>Trivia!</strong></h3>
            </div>
            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Gelombang Gunung <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>Gelombang gunung adalah gelombang gravitasi yang dipicu aliran di atas gunung, pada dasarnya adalah angin kencang yang menabrak halangan secara tegak lurus dalam lingkungan yang stabil.</p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Bilangan Rossby <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>Bilangan Rossby, adalah parameter tak berdimensi yang digunakan dalam dinamika fluida geofisika dan meteorologi untuk menggambarkan perbandingan antara gaya Coriolis dan gaya inersia dalam aliran atmosfer atau laut.</p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Intensitas Gelombang Gunung
                  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>Ketika udara relatif dingin di dekat permukaan tanah dan lebih hangat di atas, maka udara tersebut stabil secara statis. </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/fix.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>
      </div>
    </section><!-- End Why Us Section -->
    
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Bagaimana Proses Terjadinya gelombang gunung?</h3>
            <p> Gelombang gunung terjadi karena angin kencang yang mengarah ke puncak dan menghasilkan turbulensi saat mencapai sisi lain dari gunung. Udara stabil akan berusaha kembali lagi ke ketinggian semula setelah mengalami pengangkatan dan melewati puncak barisan gunung. Pada waktu udara naik ke puncak, gelombang akan mengalami pendinginan adiabatik dan menghasilkan kondensasi sehingga terbentuk awan. Awan ini akan stasioner terhadap pegunungan dan mempunyai bentuk lensa yang disebut dengan “Awan lentikularis”. Angin mengalir menuju gunung dan menghasilkan osilasi pertama dan diikuti oleh lebih banyak gelombang. Gelombang ini akan memiliki amplitudo lebih rendah karena rendaman alami. Awan lentikularis yang terangkat di atas aliran alan tampak tidak bergerak meskipun angin kencang.</p>
          </div>
        </div>
      </div>
    </section><!-- End Cta Section -->

<!-- ======= Recent Blog Posts Section ======= -->
    <section id="kepointeori" class="kepointeori recent-blog-posts">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Kepoin Teori</h2>
        </div>
        <header class="section-header">
          <h2>Kepoin Teori</h2>
          <p>Tau ga sih???</p>
        </header>
        <div class="row">
          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="assets/img/kepointeori/gelgun.png" class="img-fluid" alt=""></div>
              <span class="post-date">Gelombang Gunung Itu Apa Sih?</span>
              <h3 class="post-title">Gelombang Gunung</h3>
              <a href="/teori1" class="readmore stretched-link mt-auto"><span>Baca Lebih Lanjut</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="assets/img/kepointeori/rossby.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Penasaran Sama Bilangan Rossby?</span>
              <h3 class="post-title">Bilangan Rossby</h3>
              <a href="/teori2" class="readmore stretched-link mt-auto"><span>Baca Lebih Lanjut</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="assets/img/kepointeori/gunung.jpg" class="img-fluid" alt=""></div>
              <span class="post-date">Penerapan dan Pemanfaatannya Buat Apa Sih?</span>
              <h3 class="post-title">Penerapan dan Pemanfaatan Gelombang Gunung</h3>
              <a href="teori3" class="readmore stretched-link mt-auto"><span>Baca Lebih Lanjut</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Simulation Section ======= -->
    <section id="sim" class="sim">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h3>Simulasi</h3>
          <p> Yuk cobain simulasinya</p>
          <a class="sim-btn" href="/simulasi">Mulai</a>
        </div>
      </div>
    </section><!-- End Simulation Section -->

    <!-- Team Section -->
    <section id="team" class="team section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Tim</h2>
      </div>
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="assets/img/foto_meso/finkan.JPG" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Finkan Rahma Yuditya</h4>
                <span>12821033</span>
                <p>Koordinator</p>
                <div class="social"></div>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="assets/img/foto_meso/fardhan.JPG" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>GUI Building</h4>
                <span>Yuk kenalan sama teman-teman GUI Building!!</span>
                <p>Mereka ini yang membuat website dan simulasinya lohh</p>
                <a href="/tim1" class="readmore stretched-link mt-auto"><span>Letsgo kenalan!</span><i class="bi bi-arrow-right"></i></a>             
                <div class="social"></div>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="assets/img/foto_meso/yafi.JPG" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>GUI Custom</h4>
                <span>Yuk kenalan sama teman-teman GUI Custom!!</span>
                <p>Desain sama layout hasil dari mereka nih</p>
                <a href="/tim2" class="readmore stretched-link mt-auto"><span>Letsgo kenalan!</span><i class="bi bi-arrow-right"></i></a>
                <div class="social"></div>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="assets/img/foto_meso/abin.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>GUI Content</h4>
                <span>Yuk kenalan sama teman-teman GUI Content!!</span>
                <p>Mereka yang menghasilkan konten materi yang kalian baca loh</p>
                <a href="/tim3" class="readmore stretched-link mt-auto"><span>Letsgo kenalan!</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->
        </div>
      </div>
    </section><!-- /Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Kontak</h2>
          <br/>
          <p>Punya pertanyaan? Silakan ketikkan pertanyaan Anda di bawah ini</p>
        </div>
        <div class="row">
          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Lokasi:</h4>
                <p>Jalan Ganesa No. 10, Lb. Siliwangi, Kecamatan Coblong, Kota Bandung, Jawa Barat 40132</p>
              </div>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>maestro@gmail.com</p>
              </div>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telepon:</h4>
                <p>088345678788</p>
              </div>
              <iframe src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=ITB&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Nama</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subjek</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Pesan</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Pesanmu sudah terkirim. Terima Kasih!</div>
              </div>
              <div class="text-center"><button type="submit">Kirim</button></div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MAESTRO</h3>
            <p>
              Jalan Ganesa No.10 <br>
              Kota Bandung, 40132<br>
              Indonesia <br><br>
              <strong>Telepon:</strong>088345678788<br>
              <strong>Email:</strong> maestro@gmail.com<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        <span>MAESTRO</span>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Didesain oleh <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->  

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>
</html>
