<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Maestro</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo maestro.png" rel="icon">
  <link href="assets/img/logo maestro.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Sistem Informasi Meteorologi
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">
      <!--<h1 class="logo me-auto"><a href="/">MAESTRO</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo me-auto"><img src="assets/img/logo maestro.png" alt="" class="img-fluid"></a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="../#hero">Beranda</a></li>
          <li><a class="nav-link scrollto" href="../#about">Tentang Maestro</a></li>
          <li><a class="nav-link scrollto" href="../#kepointeori">Tentang Gelombang Gunung</a></li>
          <li><a class="nav-link scrollto" href="/quiz">Kuis</a></li>
          <li><a class="nav-link scrollto" href="/simulasi">Simulasi</a></li>
          <li><a class="nav-link scrollto" href="../#team">Tim</a></li>
          <li><a class="nav-link scrollto" href="../#contact">Kontak</a></li>
          <li><a class="getstarted scrollto" href="../#about">Mulai</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <main id="main">

<!-- Team Section -->
<section id="informasi" class="team section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <br/><br/><br/>
    <h2>Informasi Variabel</h2>
  </div><!-- End Section Title -->

  <div class="container-info">
    <h3>PENGANTAR</h3>
    <p>Simulasi ini adalah model interaktif untuk memvisualisasikan aliran udara di atas gunung yang terisolasi dalam kondisi atmosfer dengan struktur vertikal termodinamika yang bervariasi. Atmosfer dibagi menjadi dua lapisan, masing-masing memiliki parameter scorer yang seragam. Bentuk medan yang dipilih adalah witch of Agnesi. Aliran udara yang dihasilkan di atas gunung, dihitung sebagai jumlah Fourier dari pola aliran udara individual untuk setiap bilangan gelombang dalam domain spektral. Struktur atmosfer, domain medan, atau spektrum gelombang dapat diubah dengan menggeser slider ke nilai yang diinginkan. Setelah "Analisis Aliran" diklik, sebuah plot kontur kecepatan vertikal dan estimasi dari streamline yang sesuai akan ditampilkan, menggunakan profil yang diatur oleh pengguna (dengan asumsi aliran stabil).</p>
    <p><b>Tombol:</b></p>
    <p><b>Analisis Aliran</b> - Menghitung dan menampilkan aliran udara berdasarkan parameter yang dipilih</p>

    <h3>PROFIL ATMOSFER</h3>
    <div class="profile-section">
        <div class="profile-item">
            <div class="label">Angin Permukaan</div>
            <div class="colon">:</div>
            <div class="value">Kecepatan angin permukaan dalam m/s</div>
        </div>
        <div class="profile-item">
            <div class="label">L Atas</div>
            <div class="colon">:</div>
            <div class="value">Parameter Scorer untuk lapisan atas, dalam kelipatan 10^-4</div>
        </div>
        <div class="profile-item">
            <div class="label">L Bawah</div>
            <div class="colon">:</div>
            <div class="value">Parameter Scorer untuk lapisan bawah, dalam kelipatan 10^-4</div>
        </div>
        <div class="profile-item">
            <div class="label">Tinggi Antarmuka</div>
            <div class="colon">:</div>
            <div class="value">Ketinggian di atas permukaan tanah (dalam km) dari antarmuka antara dua lapisan</div>
        </div>
        <div class="profile-item">
            <div class="label">Kondisi Scorer</div>
            <div class="colon">:</div>
            <div class="value">Untuk menghasilkan aliran udara yang mengandung gelombang terperangkap, kondisi yang ditentukan oleh bilangan Scorer harus dipenuhi. Kondisi ini secara matematis dapat dinyatakan sebagai 4*(H/pi)^2*(Llower^2-Lupper^2) > 1, dengan H adalah ketinggian antarmuka.</div>
        </div>
        <div class="profile-item">
            <div class="label">Bilangan Rossby</div>
            <div class="colon">:</div>
            <div class="value">Bilangan Rossby dari aliran pada lintang 45°. Model ini mengasumsikan tidak ada rotasi, oleh karena itu, bilangan ini ditampilkan dengan tujuan untuk memberitahu pengguna kapan kombinasi angin dan domain yang dipilih sedemikian rupa sehingga percepatan Coriolis membuat plot yang dihitung menjadi tidak akurat. Angka kurang dari 1 menunjukkan bahwa efek rotasi bumi membawa pengaruh yang signifikan.</div>
        </div>
    </div>

    <h3>PROFIL MEDAN</h3>
    <div class="profile-section">
        <div class="profile-item">
            <div class="label">Tinggi Maks.</div>
            <div class="colon">:</div>
            <div class="value">Ketinggian maksimum gunung terisolasi, dalam kilometer.</div>
        </div>
        <div class="profile-item">
            <div class="label">Setengah-Lebar Gunung</div>
            <div class="colon">:</div>
            <div class="value">Jarak horizontal gunung dari pusat gunung dengan ketinggian gunung menurun hingga setengah dari ketinggian maksimumnya, dalam kilometer. (Model tidak dapat disimulasikan jika Setengah-Lebar Gunung = 0)</div>
        </div>
    </div>

    <h3>PROFIL DOMAIN</h3>
    <div class="profile-section">
        <div class="profile-item">
            <div class="label">Horizontal</div>
            <div class="colon">:</div>
            <div class="value">Lebar (dalam km) dari domain horizontal yang akan dianalisis.</div>
        </div>
        <div class="profile-item">
            <div class="label">Vertikal</div>
            <div class="colon">:</div>
            <div class="value">Tinggi (dalam km) dari domain vertikal yang akan dianalisis.</div>
        </div>
    </div>

    <h3>PROFIL SPEKTRAL</h3>
    <div class="profile-section">
        <div class="profile-item">
            <div class="label">Bilangan Gelombang Min.</div>
            <div class="colon">:</div>
            <div class="value">Bilangan gelombang terkecil yang akan dihitung (dalam kelipatan setengah lebar gunung). Variabel ini adalah batas bawah untuk integrasi Fourier pada bilangan gelombang.</div>
        </div>
        <div class="profile-item">
            <div class="label">Bilangan Gelombang Maks.</div>
            <div class="colon">:</div>
            <div class="value">Bilangan gelombang terbesar yang akan dihitung dalam aliran udara (dalam kelipatan setengah lebar gunung). Variabel ini adalah batas atas untuk integrasi Fourier pada bilangan gelombang.</div>
        </div>
    </div>
    <br/>
    <p>Sumber: <a href="https://moe.met.fsu.edu/~rhart/mtnwave.html" style="color: #c66828;" target="_blank">(Hart, 2018)</a></p>
  </div>

</section>

</main>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>
</html>
